.loader {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  margin-left: -5.5%;
  margin-top: -7%;
}
/* circle-aniimation */
.circ-animate-con {
    width: 5vw;
    height: 5vw;
    z-index: 20;
    padding: 0px 0 0 0px;
    position: relative;
}
.no-cssanimations .circ-animate-con {
  background: url(images/circ-animate.png) no-repeat 185px 10px;
}

.circ-animate {
    width: 0px;
    height: 0px;
    position: absolute;
    left: 70%;
    top: 90%;
    z-index: 20;
    margin: 0;
    border-radius: 40vw;
    box-shadow: 0px 0px 0px 2px #e5f71a, inset 0px 0px 0px 2px #D15700;
    opacity: 0;
}

.animate_circ {
    -webkit-animation: animate_circ 10s linear infinite;
    -moz-animation: animate_circ 10s linear infinite;
    -o-animation: animate_circ 10s linear infinite;
    animation: animate_circ 10s linear infinite;
  }

  @-webkit-keyframes animate_circ {
    0% {
      width: 0px;
      height: 0px;
      margin: 0px;
      opacity: 0;
      box-shadow: 0px 0px 0px 2px #e5f71a, inset 0px 0px 0px 2px #f4f930;
    }
    20% {
      width: 4vw;
      height: 4vw;
      margin: -2vw 0 0 -2vw;
      box-shadow: 0px 0px 0px 2px #e5f71a, inset 0px 0px 0px 2px #f4f930;
      opacity: 1;
    }
    40% {
      width: 12vw;
      height: 12vw;
      margin: -6vw 0 0 -6vw;
      box-shadow: 0px 0px 10px 2px #e5f71a, inset 0px 0px 10px 2px #f4f930;
      opacity: 0;
    }
  }
  @-moz-keyframes animate_circ {
    0% {
      width: 0px;
      height: 0px;
      margin: 0px;
      opacity: 0;
      box-shadow: 0px 0px 0px 2px #e5f71a, inset 0px 0px 0px 2px #f4f930;
    }
    20% {
      width: 4vw;
      height: 4vw;
      margin: -2vw 0 0 -2vw;
      box-shadow: 0px 0px 0px 2px #8d1926, inset 0px 0px 0px 2px #8d1926;
      opacity: 1;
    }
    40% {
      width: 12vw;
      height: 12vw;
      margin: -6vw 0 0 -6vw;
      box-shadow: 0px 0px 10px 2px #8d1926, inset 0px 0px 10px 2px #8d1926;
      opacity: 0;
    }
  }
  @-o-keyframes animate_circ {
    0% {
      width: 0px;
      height: 0px;
      margin: 0px;
      opacity: 0;
      box-shadow: 0px 0px 0px 2px #8d1926, inset 0px 0px 0px 2px #8d1926;
    }
    20% {
      width: 4vw;
      height: 4vw;
      margin: -2vw 0 0 -2vw;
      box-shadow: 0px 0px 0px 2px #8d1926, inset 0px 0px 0px 2px #8d1926;
      opacity: 1;
    }
    40% {
      width: 12vw;
      height: 12vw;
      margin: -6vw 0 0 -6vw;
      box-shadow: 0px 0px 10px 2px #8d1926, inset 0px 0px 10px 2px #8d1926;
      opacity: 0;
    }
  }
  @keyframes animate_circ {
    0% {
      width: 0px;
      height: 0px;
      margin: 0px;
      opacity: 0;
      box-shadow: 0px 0px 0px 2px #f4f930, inset 0px 0px 0px 2px #f4f930;
    }
    20% {
      width: 4vw;
      height: 4vw;
      margin: -2vw 0 0 -2vw;
      box-shadow: 0px 0px 0px 2px #f4f930, inset 0px 0px 0px 2px #f4f930;
      opacity: 1;
    }
    40% {
      width: 12vw;
      height: 12vw;
      margin: -6vw 0 0 -6vw;
      box-shadow: 0px 0px 10px 2px #f4f930, inset 0px 0px 10px 2px #f4f930;
      opacity: 0;
    }
  }
