body, html {
  background-color: #F7F7F7;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding:0px;
  margin:0px;
  height: 100%;
}

header {
  height: 8%;
  border-bottom: solid 1px #666666;
  margin:0px;
}

header img {
    margin: 1vw;
    min-width: 180px;
    width: 10vw;
}

#compare {
  height: 92%;
  display: -webkit-flex;
  display: flex;
}

/* Use less space for chooser */
/* TODO: Collapse, if there are more than 2 cities */
#place, #compare {
  background: #3a3a1b;
  height: 100%;
}

#compare .add_place {
  color: #F7F7F7;
  -webkit-flex: 1;
  flex: 1;
  position:relative;
}

select {
  color: #F7F7F7;
  font-size: 2.2vw;
  width: 96%;
}

#compare .add_place #add_place_map {
  height:87%;
  width:100%;
}

#place {
  height: 90%;
}

#place #controls {
  height: 14%;
}
#place #map {
  clear:both;
  height:78%;
  width: 100%;
  -webkit-flex: 1;
  flex: 1;
  z-index: 100;
}

#place .overlay {
  position:absolute;
  color: #FFF;
  top: 21%;
  height: 54%;
  width:18%;
  padding: 2vw;
  z-index:101;
}

#place .overlay .value {
  position: absolute;
  bottom: 1vw;
  font-size: 5.4vmin;
}

#place .overlay .value span {
  font-size: 2.4vmin;
  opacity: 0.8;
}


#place #legend {
  background: #3a3a1b;
  border-top: solid 2px #3f4714;
  width: 100%;
  height: 10vw;
  bottom: 0px;
  z-index: 102;
  position:absolute;
}

#place #legend .item {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-right: 0.1vw solid #ccc;
  float: left;
  height: 9.9vw;
  width: 9.9vw;
}

#place #legend .label {
  position:absolute;
  font-size: 3vmin;
  color: #FFF;
  margin:1vw;
  background: #3a3a1b;
  z-index: 103;
}

#place #legend .label.min {
  bottom: 0vw;
  left: 0vw;
}

#place #legend .label.max {
  bottom: 0vw;
  right: 0vw;
}

#add_it {
  color: #FFF;
  position:absolute;
  cursor: pointer;
  bottom: 3vw;
  left: 1vw;
  width:96%;
  z-index:100;
  background: #9e005d;
  font-size: 3.1vmin;
  height: 4.8vh;
  min-height: 40px;
}

#add_it:disabled {
  color: #555;
  background: #5B4352;
}

/* Comparision Area */
#compare #places {
  height: 100%;
  display: -webkit-flex;
  flex: 3;
  -webkit-flex: 3;
  display:none;
}

#compare #places .place {
  flex: 1;
  -webkit-flex: 1;
  border-right: solid 1px #34350C;
}

#compare #places .place .overlay {
  position:absolute;
  z-index: 100;
  height: 100%;
  width: 100%;
}

#compare #places .overlay .experiments {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;

  background-color: rgba(52, 53, 12, 0.5);
  color: #F7F7F7;
  height: 50%;
  width: 100%;
  position:absolute;
  bottom:0px;
}

#compare #places .experiments div {
  flex: 1;
  font-size: 3.2vmin;
  padding: 3vw;
}

#places .place .overlay h1 {
  font-size: 3.2vmin;
  margin: 2vw;
  margin-top: 3vw;
  line-height: 2.8vw
}

/* Styles for the Geocoder */
/* Search */

.leaflet-map-pane {
  width: auto;
}

.leaflet-control-geosearch leaflet-control {
   backface-visibility: hidden;
   height: 34px;
   padding-left: 4px;
   padding-right: 4px;
}

.leaflet-top .leaflet-control {
  width: 96%;
}

.leaflet-top.leaflet-center {
   margin: 4px;
   width: 100%
}

.leaflet-control-geosearch {
   width: 96%;
   margin: 2%;
}

#leaflet-control-geosearch-qry {
   border: solid 2px #8D9700;
   background-color: #232307;
   color: #FFF;
   opacity: 0.8;
   height: 4.2vh;
   min-height: 40px;
   margin: 4px 0;
   border-radius: 4px;
   box-sizing: border-box;
   font-size: 2.6vmin;
   padding: 4pw;
   padding-left: 3.8vw;
   width: 100%;
}

.topcoat-search-input--large {
    background-position: 1vw center;
}

/* Make the neighborhoods selectable */
.leaflet-clickable {
   cursor: pointer !important;
}

/* Override the appearch of dropdowns */
.select-dropdown:after {
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
    border-top: 1vw solid #aaa;
    content: " ";
    height: 0;
    margin-top: -2px;
    margin-right: 1vw;
    position: absolute;
    right: 8px;
    top: 50%;
    width: 0;
}

.select-dropdown {
    border-radius: 2px;
    float: left;
    color: inherit;
    max-width: 100%;
    position: relative;
    width: 100%;
}

.select-dropdown select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: medium none;
    font-family: "helvetica neue",helvetica;
    font-size: 3vmin;
    font-weight: 200;
    height: 6vw;
    min-height: 40px;
    max-width: 100%;
    padding: 8px 24px 8px 10px;
}

/* Styles for the Read Me */
.markdown-body {
    background: url("../background.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 90%;
    color: #fff;
    padding: 2vw;
    padding-left: 20%;
    padding-right: 20%;
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow: auto;
}

.markdown-body {
    background: url("../background.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 100%;
    color: #fff;
    padding: 2vw;
    padding-left: 20%;
    padding-right: 20%;
    font-family:
}

.markdown-body h1 {
  font-size: 280%;
  font-weight: 400;
}

.markdown-body h2 {
  font-size: 220%;
  font-weight: 400;
}

.markdown-body p {
  font-size: 160%;
  font-weight: 300;
}

.markdown-body a {
  color: #24e2e2;
}
/* line 90, sass/ui/_typography.scss */
.markdown-body a:hover {
  color: #24e2e2;
}
