@import url('http://roboto-webfont.googlecode.com/svn/trunk/roboto.all.css');


body, html {
  background-color: #F7F7F7;
  padding:0px;
  margin:0px;
  height: 100%;
  font-family: RobotoDraft, "Roboto", 'Helvetica Neue', Helvetica, Arial;
  /*
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

body {
  perspective:1200;
}

header {
  height: 9%;
  min-height: 54px;
  border-bottom: solid 1px #666666;
  margin:0px;
}

#question {
  background: rgba(58,40,64,0.90);
  position: absolute;
  bottom: 0px;
  left: 0px;
  position: fixed;
  height: 60px;
  width: 1080px;
  padding: 40px;
  font-size: 2.6em;
  color: #B3B3B3;
}

#question .variable {
  color: #FFFFFF;
  font-weight: 400;
}


footer {
  position:absolute;
  background: rgba(0, 0, 0, 0.7);
  color: #FFFFFF;
  height: 3vmin;
  font-size: 2.2vmin;
  width: 100%;
  bottom: 0px;
  display:none;
}

footer a,
footer a:hover {
  color: #eda76e;
}

header img {
  margin: 2.8vmin 2.8vmin 2.8vmin 6%;
  min-width: 180px;
  width: 10vw;
}

header .nav {
  position:absolute;
  right: 2vmin;
  margin:2vmin;
}

header .nav a:link,
header .nav a:visited {
  color: #CCC;
  text-decoration: none;
  font-weight: 400;
  font-size: 3.2vmin;
  margin-right: 2vmin;
}

header .nav a:active,
header .nav a.active {
  color: #999;
}

.leaflet-popup-pane {
  pointer-events: none;
}

.d3_canvas {
    height: 1920px;
    width: 1080px;
    z-index: 1;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.d3_canvas g {
    height: 1920px;
    width: 1080px;
}

.leaflet-popup-pane,
.d3_canvas {
  width: 1080px;
  height: 1920px;
  z-index: 10;
}


#canvas #defaultCanvas {
  position: absolute;
  height: 1920px;
  width: 1080px;
  z-index: 2000;
  pointer-events: none;
}

#controls {
  height: 7%;
  min-height: 39px;
  width: 100%;
  background: #646464;
  display:none;
}

#controls label {
  font-size: 1.4vw;
  padding: 2.2vmin;
  color: #FFF;
  text-transform: uppercase;
}

#controls .tell-me {
  float:left;
  color: #FFF;
  line-height: 1rem;
  padding: 2.2vmin;
  font-size: 1.8vw;
  font-weight: 600;
}

#controls label .topcoat-checkbox__checkmark::before {
  border: solid 1px #DDD;
}

#controls label .topcoat-checkbox__checkmark::after {

  border-color: -moz-use-text-color -moz-use-text-color #FFF #FFF;
}

#controls label img {
  width: 2vw;
  margin-left: 1.2vmin;
  margin-top: -0.4vmin;
  min-height: 20px;
}

#controls label span {
  padding-left: 1.2vmin;
  vertical-align: top;
}

/* Use less space for chooser */
/* TODO: Collapse, if there are more than 2 cities */
#place, #compare {
  background: #3a3a1b;
  height: 100%;
}

#compare {
  height: 1920px;
  width: 1080px;
  /*
  clear:both;
  height: 93%;
  display: -webkit-flex;
  display: flex;
  */
}

#compare .add_place {
  color: #F7F7F7;
  -webkit-flex: 1;
  flex: 2;
  position:relative;
  height: 100%;
}

#compare #add {
  color: #FFF;
  cursor: pointer;
  display:none;
  background: #e87b58;
  position:relative;
  height: 100%;
  width: 6%;
}

#compare #add svg {
  position:absolute;
  top: 50%;
  left: 50%;
  margin-left: -2vmin;
  width: 4vmin;
  height: 4vmin;
}

select {
  color: #F7F7F7;
  font-size: 2.2vw;
  width: 96%;
}

#compare .add_place #add_place_map {
  height:84%;
  width:100%;
}

#place {
  height: 90%;
}

#place #controls {
  height: 14%;
}

#place #map {
  clear:both;
  height:78%;
  width: 100%;
  -webkit-flex: 1;
  flex: 1;
  z-index: 100;
}

#sf {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

}

/*  rotateZ(-90deg)  rotateZ(3deg)
transform-style : preserve-3d;
transform-origin : 50% 50%;
transform : rotateX(10deg) rotateZ(3deg) perspective(1400px);
  */
#map {
  overflow:visible;
  -webkit-transform-style:preserve-3d;
  transform-style:preserve-3d;

  /* Facing East
  transform: rotateY(-35deg) rotateZ(-86.2deg) scaleX(1) scaleY(1) perspective(100px);
  */
  /* Facing North */
  transform: rotateX(20deg) rotateZ(4deg) perspective(600px);
  -webkit-backface-visibility: hidden;
  outline: 1px solid transparent;
  border: 1px solid white;
  width: 100%;
  height: 100%;
}

#map {
  height: 1920px;
  width: 1080px;
  margin:0px;
}

#header {
  position: absolute;
  top:0px;
  z-index: 100;
}

#footer {
  position: fixed;
  bottom: 0px;
  z-index: 100;
}

.place .leaflet-map-pane {
  overflow:visible;
  -webkit-transform-style:preserve-3d !important;
  transform-style:preserve-3d !important;
  /* Facing East
  transform: rotateY(-35deg) rotateZ(-86.2deg) scaleX(1) scaleY(1) perspective(100px);
  */
  /* Facing North */
  transform: rotateX(30deg) rotateZ(3deg) !important;
  width: 100%;
  height: 100%;

  transform: scale(1.0) scaleZ(0.3) rotateX(20deg);
  transform-origin: 0% 0%;
  perspective: 0;
  perspective-origin: 30% 0%;
}

.place .leaflet-overlay-pane {
  opacity: 0.90;
}

/* removes a flickering background color */
.leaflet-container {
  background:none;
}

.leaflet-tile-pane {
  filter: saturate(0.5) brightness(36%) hue-rotate(20deg) contrast(1.2);
  -webkit-filter: saturate(0.5) brightness(36%) contrast(1.2);
}

.overlay {
  background: rgba(74,53,84,0.3);
  color: #FFF;
  position:absolute;
  pointer-events: none;
  color: #FFF;
  top: 0px;
  height: 54%;
  width:18%;
  z-index:101;
  font-size: 4vmin !important;
  line-height: 2vmin !important;
  text-shadow: 0.3vmin 0.3vmin 0.6vmin #000;
}

.loading {
  position:absolute;
  left: 50%;
  top: 50%;
  z-index: 200;
  margin-left: -50px;
  margin-top: -80px;
  opacity: 0.6;
}

#place .overlay .value {
  position: absolute;
  bottom: 1vw;
  font-size: 5.4vmin;
}

#place .overlay .value span {
  font-size: 2.4vmin;
  opacity: 0.8;
}

#place #legend {
  background: #3a3a1b;
  border-top: solid 2px #3f4714;
  width: 100%;
  height: 10vw;
  bottom: 0px;
  z-index: 102;
  position:absolute;
}

#place #legend .item {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-right: 0.1vw solid #ccc;
  float: left;
  height: 9.9vw;
  width: 9.9vw;
}

#place #legend .label {
  position:absolute;
  font-size: 3vmin;
  color: #FFF;
  margin:1vw;
  background: #3a3a1b;
  z-index: 103;
}

#place #legend .label.min {
  bottom: 0vw;
  left: 0vw;
}

#place #legend .label.max {
  bottom: 0vw;
  right: 0vw;
}

#add_it {
  background-color: #9e005d;
  border-radius: 999em;
  border: solid 1px #d35ba8;
  width: 56px;
  height: 56px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  line-height: 1;
  font-size: 36px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  color: #FFF;
  position:absolute;
  cursor: pointer;
  bottom: 20%;
  right: 3vmin;
  z-index:102;
}

#add_it.disabled {
  background-color: #AAAAAA;
  border: solid 1px #CCCCCC;
}

#sensor_info {
  height: 18%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  position:absolute;
  pointer-events: none;
  z-index: 100;
  bottom:0px;
  text-align:center;
}

#sensor_info .message {
  font-size: 4vmin;
  padding-top: 2vmin;
}

#sensor_info .message .info {
  font-size: 60%;
}

#add_it:disabled {
  color: #555;
  background: #5B4352;
}

/* Comparision Area */
#compare #places {
  height: 1920px;
  width: 1080px;
}

#compare #places .place {
  height: 100%;
  width: 100%;
}

#places div.popup {
  background: #FFFFFF;
  position: absolute;
  z-index: 1000;
  width: 50px;
  height: 50px;
  padding:2px;
}

/* Display audio, twitter, and photos */
#compare #places .place .media {
  position:absolute;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  z-index: 100;
  height: 40%;
  width: 100%;
  bottom:0px;
  left:0px;
  pointer-events:auto;
  background: rgba(256, 256, 256, 0.2);
}

/* Make media dark when legend is open */
#compare #places .place .media {
  background: rgba(0, 0, 0, 0.3);
  display:none;
}

#compare #places .bright .media {
  background: rgba(255, 255, 255, 0.6);
  color: #FFF;
}


#compare #places .place .media .playhead {
  flex: 1;
  width: 100%;
  overflow: hidden;
  max-height: 68px;
}

#compare #places .place .media .playhead .audio {
  width: 86%;
  float:left;
  height: 100%;
  position:relative;
}

#compare #places .place .media .playhead .audioViz {
  position:absolute;
  height: 100%;
  max-height: 60px;
  z-index: 100;
  left: 10%;
  top:0px;
}

#places .place .media .playhead .info {
  width: 8%;
  border-right: solid 1px #FFF;
  height: 100%;
  background: #000;
  min-width: 40px;
  padding-top: 2.4vh;
  text-align: center;
  cursor: pointer;
  float:left
}

#places .place .media .playhead .play {
  width: 10%;
  height: 100%;
  min-width: 40px;
  border-right: solid 1px #FFF;
  background: #9e005d;
  padding-top: 2.1vh;
  text-align: center;
  cursor: pointer;
  float:left;
  position:absolute;
  z-index: 102;
}

#places .place .media .playhead .play svg {
  fill: #FFFFFF;
}

#places .place .media .playhead .play.active {
  background: #e87b58;
}

#compare #places .place .media .tweets {
  flex: 2;
  width: 100%;
}

#compare #places .place .media .tweets .tweet {
  float: left;
  font-size: 1rem;
  font-weight: 300;
  height: 100%;
  line-height: 2.4vmin;
  padding: 1vmin;
  width: auto;
}

#compare #places .place .media .tweets.small {
  flex: 1;
}

#compare #places .place .media h2 {
  float: left;
  font-size: 1.4vw;
  font-weight: 400;
  padding-left: 1%;
  width: 17%;
  margin-top: 1vmin;
}

#compare #places .place.bright .media h2 {
  color: #000;
  text-shadow: none;
}


#compare #places .place .media .tweets.small .tweet {
  width: auto !important;
  font-size: 1.5vmin;
  max-width: 220px;
}


#compare #places .place .media .tweets.small .tweet img {
  display: none;
}

#compare #places .place .media .tweets.small .bx-prev,
#compare #places .place .media .tweets.small .bx-next {
  opacity: 0.3;
}

#compare #places .place .media .tweets .tweet a:link {
    color: #d2edf3;
}

#compare #places .place .media .photos {
  flex: 3;
  width: 100%;
  overflow: hidden;
  position:relative;
}

#compare #places .place .media .photos ul,
#compare #places .place .media .tweets ul {
  width: 84%;
}

#compare #places .place .media .photos.small .bx-prev,
#compare #places .place .media .photos.small .bx-next {
  opacity: 0.3;
}

#compare #places .place .media .photos .photo {
    float: left;
    font-size: 1rem;
    line-height: 2.4vmin;
    padding: 1.8vmin;
    cursor: pointer;
    pointer-events: auto;
    opacity: 0.7;
    max-height:100%;
}

#compare #places .place .media .photos .photo.big {
  opacity: 1.0;
}

#compare #places .place .media .photos .photo.big img {
    opacity: 1.0;
    height: 14vmin !important;
    width: 14vmin !important;
}
#compare #places .place .media .photos.small {

}

#compare #places .place .media .photos.small .caption {
  display:none;
}

#compare #places .place .media .photos .no-results {
  padding: 2vmin !important;
  font-size: 1.4vmin !important;
}


#compare #places .place .media .photos .photo img {
    float:left;
    border: 1px solid #555;
}

#compare #places .place .media .photos .photo .caption {
    float: left;
    width: 36%;
    height: 150px;
    font-size: 0.8rem;
    padding-left: 1vmin;
    overflow:hidden;
    text-overflow: ellipsis;
    left: 55%;
    position:absolute;
}


#compare #places .place .media .photos.small{
  flex: 1;
}

#compare #places .place .media .photos.small .photo {
  width: auto !important;
  padding: 0px;
  margin: 0px;
}

#compare #places .place .media .photos.small .photo img {
  height: 10vmin;
  margin-top: 1vmin;
}

#compare #places .place .media .place {
  flex: 1;
  width: 100%;
  overflow: hidden;
}


#compare #places .place .overlay {
  position:absolute;
  pointer-events: none;
  z-index: 100;
  height: 100%;
  width: 100%;
}

#compare #places .place .close {
  height: 5vmin;
  position: absolute;
  cursor:pointer;
  right: 1%;
  top: 2%;
  width: 5vmin;
  z-index: 202;
}

#compare #places .place .close svg {
  width: 4vmin;
}

#compare #places .place.bright .overlay {
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%); /* W3C */
}

#compare #places .place.bright .media {

}


/* Style when brightness is high */
#places .place.bright .tweets .tweet,
#places .place.bright .photo .caption {
  color: #000;
  display: table;
  text-shadow: none;
}

#places .place.bright .tweets .tweet a:link {
  color: #2D7CC8 !important;
}

/* Overrides when it's bright outside */
#places .place.bright .overlay .city,
#places .place.bright .overlay .address,
#places .place.bright .overlay .name,
#places .place.bright .overlay .time,
#places .place.bright .overlay .temp {
  color: #000;
  text-shadow: none;
  clear:right;
  margin-left: 3vmin;
}

/* Styles for the loader */
.bx-wrapper {
  position:relative;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  height: inherit !important;
  float: left;
  clear: none;
  display: block;
  width: 80%;
  max-width: 80% !important;
}

.bx-wrapper .bx-viewport,
.bx-wrapper .bx-clone {
  box-shadow: none;
}

.bx-viewport {
  height: 100% !important;
  max-height: 220px;
}

.bx-wrapper .bx-prev {
  left: 0px; !important;
  top: 2vw;
}

.bx-wrapper .bx-next {
  right: 0px !important;
  top: 2vw;
}

.bx-wrapper:hover {
  border: solid 1px #FFF;
}

.bx-wrapper:hover .bx-prev,
.bx-wrapper:hover .bx-next {
  opacity: 1.0 !important;
}



.bx-wrapper .bx-loading {
    background-color: none !important;
}

#compare #places .overlay .experiments {
  display: -webkit-flex;
  display: none;
  -webkit-flex-direction: column;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  color: #F7F7F7;
  height: 60%;
  width: 100%;
  position:absolute;
  top:0px;
  left: 0px;
  z-index: 200;
}

#compare #places .experiments div {
  flex: 1;
  font-size: 3.2vmin;
  padding: 2vw;
}

.overlay .city, .overlay .address, .overlay .time {
  position:relative;
  z-index: 110;
}

.overlay .city {
   font-size: 4.4vmin;
   font-weight: 400;
   line-height: 4.4vmin;
   text-transform: uppercase;
   margin-top: 3vmin;
   margin-left: 2.1vmin;
   text-shadow: .5vmin .5vmin 1vmin #000;
}

.overlay .address,
.overlay .name {
   font-size: 3.4vmin;
   font-weight: 500;
   line-height: 3vw;
   margin-left: 2.1vmin;
   text-shadow: .5vmin .5vmin 1vmin #000;
}

.overlay .time,
.overlay .temp {
    font-size: 4.4vmin;
    font-weight: 400;
    line-height: 6vmin;
    margin-left: 2.1vmin;
    text-shadow: 0.5vmin 0.5vmin 1vmin #000;
}

.overlay .pollution {
  height:52%;
  width: 100%;
  margin-top:-2vmin;
  filter: invert(0.6);
  -webkit-filter: invert(1);
  pointer-events: none;
  position:absolute;
  overflow:hidden;
  /*
  -webkit-animation: sky_background ;
  -moz-animation: sky_background 100s ease-in infinite;
  -o-animation: sky_background 100s ease-in infinite;
  */
  -webkit-transform:translate3d(0,0,0);
  -moz-transform:translate3d(0,0,0);
  -o-transform:translate3d(0,0,0);
  z-index:101;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  background: -moz-linear-gradient(top, rgba(255,87,171,1) 0%, rgba(125,185,232,0) 100%) 100s ease-in infinite; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,87,171,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,87,171,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,87,171,1) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,87,171,1) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,87,171,1) 0%,rgba(125,185,232,0) 100%); /* W3C */
}

.overlay .dust {
  height:40%;
  width: 100%;
  margin-top:10%;
  margin-left:-1vmin;
  pointer-events: none;
  position:absolute;
}

.pollution .clouds_one,
.pollution .clouds_two {
  background-image: url("http://montanaflynn.me/lab/css-clouds/images/cloud_one.png");
  background-position: 0% 60%;
  position:absolute;
  /*-webkit-filter: invert(0.6);*/
  left:0;
  top:0;
  height:100%;
  width:100%;
  -webkit-animation:cloud_one 200s linear infinite;
  -moz-animation:cloud_one 300s linear infinite;
  -o-animation:cloud_one 200s linear infinite;
  -webkit-transform:translate3d(0,0,0);
  -moz-transform:translate3d(0,0,0);
  -o-transform:translate3d(0,0,0)
}

.overlay .pollution .clouds_two {
  background-image: url("http://montanaflynn.me/lab/css-clouds/images/cloud_two.png");
  -webkit-animation:cloud_one 400s linear infinite;
  -moz-animation:cloud_one 400s linear infinite;
  -o-animation:cloud_one 400s linear infinite;
}

@-webkit-keyframes cloud_one {
   0% {
      left:0%
   }

   100% {
      left:200%
   }
}

@-webkit-keyframes cloud_two {
   0% {
      left:0
   }

   100% {
      left:200%
   }
}

@-webkit-keyframes cloud_three {
   0% {
      left:0
   }

   100% {
      left:200%
   }
}

@-moz-keyframes cloud_one {
  0% {
     left:0
  }

  100% {
     left:300%
  }
}

@-moz-keyframes cloud_two {
   0% {
      left:0
   }

   100% {
      left:200%
   }
}

@-moz-keyframes cloud_three {
   0% {
      left:0
   }

   100% {
      left:200%
   }
}

/* Styles for the Geocoder */
/* Search */

.leaflet-map-pane {
  width: auto;
}

/*
.leaflet-overlay-pane {
    filter: brightness(1.2);
    z-index: 4;
}
*/

.leaflet-control-geosearch leaflet-control {
   backface-visibility: hidden;
   height: 34px;
   padding-left: 4px;
   padding-right: 4px;
}

.leaflet-top .leaflet-control {
  width: 96%;
}

.leaflet-top.leaflet-center {
   margin: 4px;
   width: 100%
}

.leaflet-control-geosearch {
   width: 96%;
   margin: 2%;
}

#leaflet-control-geosearch-qry {
   border: solid 2px #9e005d;
   background-color: #3f2536;
   color: #FFF;
   opacity: 0.8;
   height: 4.2vh;
   line-height: 3vw;
   min-height: 40px;
   margin: 4px 0;
   border-radius: 4px;
   box-sizing: border-box;
   font-size: 2.6vmin;
   padding: 4pw;
   padding-left: 3.8vw;
   width: 100%;
}

.topcoat-search-input--large {
    background-position: 1vw center;
}

/* Make the neighborhoods selectable */
.leaflet-clickable {
   cursor: pointer !important;
}

/* Override the appearch of dropdowns */
.select-dropdown:after {
    border-left: 1vmin solid transparent;
    border-right: 1vmin solid transparent;
    border-top: 1vmin solid #e6e6e6;
    pointer-events: inherit;
    content: " ";
    height: 0;
    margin-top: -2px;
    margin-right: 1vw;
    position: absolute;
    right: 8px;
    top: 50%;
    width: 0;
}

.select-dropdown {
  background: #9e005d;
    border-radius: 2px;
    float: left;
    color: inherit;
    max-width: 100%;
    position: relative;
    width: 100%;
}

.select-dropdown:first-child {
  border-bottom: solid 1px #FFF;
}

.select-dropdown select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: medium none;
    font-family: "helvetica neue",helvetica;
    font-size: 3.2vmin;
    font-weight: 200;
    height: 6vmin;
    min-height: 40px;
    max-width: 100%;
    width: 100%;
    padding-left: 2vmin;
}

/* Styles for the Read Me */
.markdown-body {
    background: url("../background.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 85%;
    color: #fff;
    padding: 2vw;
    padding-left: 20%;
    padding-right: 20%;
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow: auto;
}

.markdown-body h1 {
  font-size: 200%;
  font-weight: 400;
}

.markdown-body h2 {
  font-size: 180%;
  font-weight: 400;
  text-shadow: none;
}

.markdown-body p {
  font-size: 110%;
  line-height: 130%;
  font-weight: 300;
}

.markdown-body a {
  color: #eda76e;
}
/* line 90, sass/ui/_typography.scss */
.markdown-body a:hover {
  color: #eda76e;
}
