.label {
  display:block;
  width: auto;
  height: auto;
  background: none !important;
}

.label {
   transform: translate(0px, 0px) rotate(-4deg);
}

/*
.leaflet-marker-pane {
    transform: rotate(-2deg);
}
*/

.emoji {
  height: 32px;
  width: 32px;
}

.label div.word,
.label div.thing {
   display:inline-block ;
   background: #DDDDDD;
   color: #000000;
   padding: 4px;
   font-size: 24px;
   font-weight: 500;
   line-height: 12px;
   width: auto;
   min-height: 22px;
   padding: 4px;
   opacity: 0.8;
   width: auto !important;
   clear: both;
}

#timer {
  float:right;
  width: 60px;
  height: 120px;
  margin-right: 14px;
  margin-top: -8px;
  font-family: Roboto Condensed;
}

#timer .minutes {
  color: #A9A6B6;
  font-size: 32px;
  line-height: 26px;
  position: absolute;
  text-align:center;
  top: 52px;
  width: 68px;
  margin-left: 10px;
}

#timer .minutes span {

  color: #8C899D;
  font-size: 14px;
  text-transform: uppercase;

}
