.label {
  display:block;
  width: auto;
  height: auto;
  background: none !important;
}

.label {
   transform: translate(0px, 0px) rotate(-4deg);
}

/*
.leaflet-marker-pane {
    transform: rotate(-2deg);
}
*/

.emoji {
  height: 42px;
  width: 42px;
}

.label div.word,
.label div.thing {
   display:inline-block ;
   background: #DDDDDD;
   color: #000000;
   padding: 4px;
   font-size: 24px;
   font-weight: 500;
   line-height: 12px;
   width: auto;
   min-height: 22px;
   padding: 4px;
   opacity: 0.8;
   width: auto !important;
   clear: both;
}

#timer {
  float: right;
  font-family: Roboto Condensed;
  height: 120px;
  margin-right: 14px;
  margin-top: -8px;
  width: 59px;
  position: absolute;
  bottom: 0px;
  right: 34px;
}

#timer .minutes {
  color: #a9a6b6;
  font-size: 32px;
  line-height: 26px;
  margin-left: 10px;
  position: absolute;
  text-align: center;
  top: 18px;
  width: 68px;
}

#timer .minutes span {

  color: #8C899D;
  font-size: 14px;
  text-transform: uppercase;

}
