#container {
  height: 1920px;
  width: 1080px;
  overflow:hidden;
  margin:0px;
}

.leaflet-tile-pane {
  filter: saturate(0.7) brightness(80%) hue-rotate(0deg) contrast(1.0);
}

.mask {
  /*
  position: absolute;
  background: rgba(74,53,84,0.40);
  height: 1920px;
  width: 1080px;
  */
}

#map {
  transform: rotateX(20deg) rotateZ(4deg) perspective(600px) scale(0.8);
}

.leaflet-overlay-pane .leaflet-zoom-animated {
  filter: blur(3px);
}

div.popup {
  background: #000000;
  position: absolute;
  z-index: 1000;
  width: 140px;
  height: 140px;
}

div.popup img {
  width: 140px;
}

div.station {
  background: #288499;
  color: #FFFFFF;
  font-size: 26px;
  line-height: 30px;
  font-weight: 200;
  padding: 4px;
  position:absolute;
  width: 90px;
  height: 90px;
  top: 10px;
  left: 10px;
  z-index: 10;
  opacity: 0.8;
  text-align: center;
}

div.station .estimate {
  font-size: 32px;
  font-weight: 400;
}

div._16th_St_Mission_North {
  top: 132px;
  left: 550px;
}

div._16th_St_Mission_South {
  left: 416px;
  top: 270px;
}

div._24th_St_Mission_North {
  top: 1713px;
  left: 580px;
}

div._24th_St_Mission_South {
  top: 1878px;
  left: 420px;
}

.label {
  width: 10px;
  height: 10px;
  background: #FFFFFF;
}

.stop {
  width: 300px;
  height: 300px;
}

.name {
  font-size: 2em;
  color: #FFFFFF;
  height: 60px;
  display: none;
  min-width: 220px;
  width: 200px;
  opacity: 0.8;
  padding: 20px;
  padding-left: 60px;
  background: url("../images/intersection.png") no-repeat;
  transform: rotateZ(-3.5deg);
}

.stop .thing {
    display: inline-block !important;
    margin-left: -8px;
    margin-top: 54px;
    position: relative;
    transform: rotateZ(-3.5deg);
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease;
}

#stop_3284 .name, #stop_3467 .name, #stop_3468 .name, #stop_3469 .name, #stop_3331 .name, #stop_4674 .name, #stop_5557 .name {
  display: block;
}

/* Individual tweaks */
#stop_3467 { margin-top: -71px; }
#stop_3331 { margin-top: -70px; margin-left: -30px; }
#stop_3284 { margin-left: -36px; margin-top: -54px; }
#stop_3468,
#stop_3469 { margin-top: -62; margin-left: -15px; }

/* Rotate */
#stop_4674, #stop_5557 {
  transform: rotateZ(-93.5deg);
  margin-left: -146px;
}
