.leaflet-tile-pane {
  filter: invert(0.2) saturate(0.9) brightness(35%) hue-rotate(20deg) contrast(1.1) !important;
  -webkit-filter: saturate(0.5) brightness(36%) contrast(1.2);
}

#container {
    height: 1920px;
    margin: 0;
    overflow: hidden;
    width: 1080px;
}

#canvas {
  position: absolute;
  height: 1920px;
  width: 1080px;
  z-index: 200;
  background: none;
}

#map {
  transform: rotateX(20deg) rotateZ(4deg) perspective(600px) scale(0.8);
}

.d3_canvas {
  filter: blur(52px) contrast(1.5);
  -webkit-filter: blur(52px) contrast(1.5);
}

.dot {
  box-shadow: 10px 10px 5px #000000;
}

.label {
  font-size: 30px;
  color: #FFFFFF;
}

.emoji {
  /*
  transition-delay: 2s;
  transition: all 8s ease-in-out;
  -webkit-transition: all 8s ease-in-out;
  -moz-transition: all 8s ease-in-out;
  -o-transition: all 8s ease-in-out;
  */
}

.sensors {
  width: 220px !important;
  height: 220px !important;
  background: url("images/weather-circle.png");
  transform: scale(1.0);

}

.name {
  background: rgba(0, 0, 0, 0) url("../images/intersection.png") no-repeat scroll 0 0;
  color: #ffffff;
  display: inline-block;
  line-height: 12px;
  font-size: 1em;
  height: 60px;
  opacity: 0.8;
  padding: 20px 100px 20px 60px;
  transform: rotateZ(-3.5deg);
  white-space: nowrap;
  width: auto;
}

.name.highlight {
  color: #3A2840;
  background: rgba(0, 0, 0, 0) url("../images/intersection-highlight.png") no-repeat scroll 0 0;
}

.name .temp {
  font-family: Roboto Condensed;
  font-size: 26px;
  position: absolute;
  right: 6px;
  top: 21px;
}

.name .icon {
  margin-top: 30px;
}
