body {
  display:block;
  width: 1080px;
  height: 1920px;
  background: #000000 url("../images/painted-buildings.png") no-repeat;
  background-size: 100% 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

#container {
  background: #000000;
  width: 1080px;
  height: 1920px;
  background: rgba(0,0,0,0.55);
}

div.question {
  position: absolute;
  background: rgba(0, 0, 0, 0) url("../images/question.png") no-repeat scroll 0 0;
  color: #ffffff;
  font-size: 60px;
  line-height: 80px;
  height: 400px;
  margin-left: 15%;
  padding-left: 180px;
  padding-top: 40px;
  width: 50%;
  margin-top: 20%;
}

div.question .hashtag {
  color: #b799c2;
  font-size: 70px;
  margin-top: 200px;
}

div.quote {
  background: rgba(0, 0, 0, 0) url("../images/quotes.png") no-repeat scroll 0 0;
  height: 700px;
  left: 10%;
  position: absolute;
  top: 1144px;
  width: 800px;
  padding: 80px;
}

a {
  color: #b799c2;
}

div.quote a {
  font-size: 54px;
}

div.quote img {
    height: 500px;
    margin-left: 10px;
    margin-top: 10px;
    width: 500px;
}

div.quote .text {
  font-size: 50px;
  color: #FFFFFF;
}
