body {
  display:block;
  width: 1080px;
  height: 1920px;
  background: #000000 url("../images/painted-buildings.png") no-repeat;
  background-size: 100% 100%;
}

#container {
  background: #000000;
  width: 1080px;
  height: 1920px;
  background: rgba(0,0,0,0.65);
}
