#container {
  height: 1920px;
  width: 1080px;
  overflow:hidden;
  margin:0px;
}

#header {
  position: absolute;
  z-index: 100;
}

.leaflet-tile-pane {
  background: red none repeat scroll 0 0;
  filter: saturate(0.5) brightness(4%) contrast(1.2);
}

div.popup {
  background: #FFFFFF;
  opacity: 0.8;
  position: absolute;
  z-index: 1000;
  width: 140px;
  height: 140px;
}

div.popup img {
  width: 140px;
}

.leaflet-zoom-animated {
  background: #3a2940 none repeat scroll 0 0;
}

div.leaflet-tile-pane {
  border: solid 1px red;
}
